
<%= simple_form_for question, html: { data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f| %>
  <div id="new_question">
    <%= f.input :user_question,
        label: false,
        wrapper: false,
        input_html: {
          class: "chatbot-input",
          placeholder: "Your question"
        } %>
    <%= f.submit "Ask", class: "chatbot-btn" %>
  </div>
<% end %>
