<div class="path-container">
  <!-- Salty Recipes Card -->
  <div class="path-card">
    <div class="path-card-image"></div>
    <%= image_tag "salty_path_icon.png", alt: "Salty Recipes Icon", class: "path-image" %>
     <%= link_to "Salty Recipes", paths_path(1), class: "clickable-title" %>
  </div>

  <!-- Sweet Recipes Card -->
  <div class="path-card">
    <div class="path-card-image">
    <%= image_tag "sweet_path_icon.png", alt: "Sweet Recipes Icon", class: "path-image" %>
    </div>
    <div class="path-action">
     <%= link_to "Sweet Recipes", paths_path(2), class: "clickable-title" %>
  </div>
</div>
