<main class="main">

  <button class="custom-button">Complete</button>

  <div class="circle">
    <i class="fas fa-star"></i>
  </div>

  <div class="lock-circle">
    <i class="fas fa-lock-open"></i>
  </div>

  <div class="lock-circle">
    <i class="fas fa-lock"></i>
  </div>

  <div class="lock-small">
    <i class="fas fa-lock-open"></i>
  </div>

  <div class="lock-small">
    <i class="fas fa-lock"></i>
  </div>

  <div class="label-edit"> edit profile</div>

  <div class="circle-plus">
    <i class="fas fa-plus"></i>
  </div>

 <div class="trail-card">
  <!-- Imagem centralizada e vazando -->
  <%= image_tag "salty.svg", class: "card-image", alt: "salty_recipe" %>

  <!-- Faixa 2 (amarela fina) -->
  <div class="stripe-top"></div>

  <!-- Faixa 1 (laranja com texto) -->
  <div class="stripe-bottom">
    <span>Seu Texto Aqui</span>
  </div>
</div>


</main>
