<main class="main">

  <button class="custom-button">Complete</button>

  <div class="circle">
    <i class="fas fa-star"></i>
  </div>

  <div class="lock-circle">
    <i class="fas fa-lock-open"></i>
  </div>

  <div class="lock-circle">
    <i class="fas fa-lock"></i>
  </div>

  <!--
  <div class="lock-small">
    <i class="fas fa-lock-open"></i>
  </div>

  <div class="lock-small">
    <i class="fas fa-lock"></i>
  </div>
-->

  <div class="label-edit"> edit profile</div>

  <div class="circle-plus">
    <i class="fas fa-plus"></i>
  </div>

  <div class="trail-card">
    <%= image_tag "salty.svg", class: "card-image", alt: "salty_recipe" %>
    <div class="stripe-top"></div>
    <div class="stripe-bottom">
      <span>Nome da trail</span>
    </div>
  </div>

  <div class="world-card">
    <%= image_tag "salty.svg", class: "world-image" %>
    <div class="element-2">
      <span>nome do world</span>
    </div>
    <div class="thin-band"></div>
    <div class="lock-small">
      <i class="fas fa-lock-open"></i>
    </div>
  </div>

</main>
