<div class="tasks-container">
  <div class="task-card">
    <div class="text-container">
      <span class="first-text"> World: <%= @world.title %></span>
    </div>
  <%= image_tag "corn.svg", class: "tomato-image" %>
  </div>

  <div class="invert-task">
    <% @tasks.each do |task| %>
      <div class="task">
        <% if task == @next_task || current_user.reviews.find_by(task: task) %>
          <div class="circle">
            <%= link_to task_path(task) do %>
              <i class="fas fa-star"></i>
            <% end %>
          </div>
        <% else %>
          <div class="lock-circle">
            <i class="fas fa-lock"></i>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
