<h1><%= @world.title %></h1>

<div class="tasks-container">
  <% @tasks.each do |task| %>
    <div class="task">
  <h3><%= task.title %></h3>

  <div class="lock-circle">
    <i class="fas fa-lock"></i>
  </div>

  <div class="lock-circle">
    <i class="fas fa-lock"></i>
  </div>

  <div class="lock-circle">
    <i class="fas fa-lock"></i>
  </div>

  <div class="circle">
    <i class="fas fa-star"></i>
  </div>

    <%= link_to "Choose Task", task_path(task), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<%= link_to "Back to World", path_path(@world.path) %>
