
<div class="tasks-container">
  <% @tasks.each do |task| %>
    <div class="task">
  <%# <h3><%= task.title %></h3>
  <div class="task-card">
  <div class="text-container">
    <span class="first-text">WORLD 1</span>
    <span class="second-text">Task 1</span>
  </div>
  <div class="vertical-line"></div>
    <%= image_tag "tomato_small.svg", class: "tomato-image" %>
</div>
<% if task.done == true %>
<div class="circle">
  <%= link_to task_path(task) do %>
    <i class="fas fa-star"></i>
  <% end %>
  </div>
<% else %>
  <div class="lock-circle">
    <i class="fas fa-lock"></i>
  </div>
<% end %>


    </div>
  <% end %>
</div>

<%= link_to "Back to World", path_path(@world.path) %>
