<h1><%= @world.title %></h1>

<div class="tasks-container">
  <% @tasks.each do |task| %>
    <div class="task">
      <h3><%= task.title %></h3>
    </div>
  <% end %>
</div>

<%= link_to "Back to Path", path_path(@world.path) %>
