
.main-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  background-color: #FF9B05;
  padding: 50px 0;
}


.edit-profile-container {
  border-radius: 15px;
  background-color: #FFFFFF;
  text-align: center;
  width: 90%;
  max-width: 450px;
  padding: 2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.form-inputs input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.custom-button button {
  background-color: #FF9B05;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.custom-button button:hover {
  background-color: #e88a00;
}


.cancel-button {
  display: block;
  margin-top: 20px;
  background-color: #cc0000;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.cancel-button:hover {
  background-color: #a30000;
}
