/* Container principal */
.main-show-profile-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}

.profile-avatar-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.profile-info {
  text-align: center
}

.profile-username {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
}

.edit-profile-button {
  display: inline-block;
  background-color: #0095f6;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
  margin-top: 5px;
}

.edit-profile-button:hover {
  background-color: #0078d4;
}

.badges-container {
  display: flex;

  overflow-x: auto;  /* Permite rolagem horizontal */
  white-space: nowrap;  /* Impede que os badges quebrem para a linha de baixo */
  padding-bottom: 10px; /* Para evitar que a rolagem fique cortada */
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-left: 10px;
}

.badges-container::-webkit-scrollbar {
  height: 6px; /* Define a altura da barra de rolagem */
}

.badges-container::-webkit-scrollbar-thumb {
  background: #ccc; /* Cor da barra de rolagem */
  border-radius: 3px;
}

.badge {
  flex: 0 0 auto;
}

.badge-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

/* Container da galeria */
.gallery {
  display: grid; /* Usando grid para layout */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Colunas flexíveis */
  gap: 10px; /* Espaço entre as fotos */
  padding: 10px;
}

/* Cada item da foto */
.photo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.photo-item img {
  width: 100%; /* A imagem ocupa 100% da largura da célula */
  height: auto; /* A altura das imagens é ajustada proporcionalmente */
  object-fit: cover; /* As imagens cobrem a área sem distorcer */
  border-radius: 5px; /* Bordas arredondadas */
}

/* Para telas muito pequenas (celulares) */
@media (max-width: 480px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Ajusta para 2 ou mais colunas */
  }
}

