.result-container {
  background-color: #fff;       /* White card */
  color: #000;
  padding: 40px 20px;
  border-radius: 16px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.question-title {
  color: black;
  margin-bottom: 20px;
}

/* Incorrect Card */
.incorrect-card {
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  padding: 30px 20px;
  text-align: center;
}

.incorrect-card h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
}

/* Tag "Try again next time" */
.try-again-tag {
  background-color: #fef1e5;
  color: #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 16px;
}

.try-again-icon {
  background-color: #f79b28;
  color: #fff;
  border-radius: 50%;
  padding: 5px 8px;
  margin-left: 12px;
  font-size: 14px;
}

/* Big Play Again Button */
.retry-button {
  background-color: #fff;
  color: #f79b28;
  font-weight: 700;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
  width: 80%;
  transition: background-color 0.3s ease;
}

.retry-button:hover {
  background-color: #dbb485;
  color: #fff;
}

.answer-badge {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.answer-content {
  background-color:  #f79b28;
  color: black;
  padding: 15px 30px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  font-weight: 700;
  font-size: 25px;
}

.answer-text {
  font-weight: 700;
}

.badge-icon {
  color: #f79b28;
  font-size: 18px;
}

.result-text {
  margin-bottom: 10px;
  margin-top: 15px;

}

.all-content {
  text-align: center;  /* ✅ Keeps all inner content aligned */
}

.button-score{

    display: inline-block;
    // background: #FF9B05;
    background-color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    color: #FF9B05;
    min-width: 160px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
  }


  .page-container {
    background-color: #f79b28;   /* Full page orange background */
    min-height: 100vh;           /* Fill the entire viewport */
    padding: 40px 20px;
    box-sizing: border-box;
  }
