
.world-title-link {
  text-decoration: none;
  color: white; /* adjust to your desired color */
  text-align: left; /* aligns the text to the left */
  display: block; /* ensures the text-align takes effect */
  width: 100%;
}

.world-title {
  font-size: 20px;
  font-weight: 600;
  display: inline-block; /* ensures consistent alignment */
}

.element-2 span {
  font-size: 20px !important;
  font-weight: 400 !important;

}
