/* Estilos Gerais */

.container {
  width: 90%;
  max-width: 400px;
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.progress-bar .active {
  background: #f4b400;
  color: white;
}

/* Imagem */
.image-container {
  text-align: center;
  padding-inline: 5%;
}

.dish-image {
  width: 100%;
  border-radius: 15px;
}

/* Chef Ilustração */
.chef-icon .chef-image {
  display: flex;
  justify-content: center;
  margin-top: -50px;
  width: 90%;
  margin-left: -20px;
}

// .chef-image {
//   width: 50%;
// }

/* Detalhes da Receita */
.recipe-details {
  text-align: left;
  background: #FFFAF2;
  padding-top: 5%;
  // border-radius: 10px;
  margin-top: 20px;
  margin-right: 5%;
  font-size: 60%;
  border-radius: 10px;
  margin-left: -50px;
}

.txt-container{
  margin-left: 5%;
}

.recipe-title {
  color: #333;
  // font-size: 22px;
  font-weight: bold;
  margin-top: -15px;

}

.time {
  font-weight: bold;
  // color: #f4b400;
  margin-top: -15px;
}

/* Ingredientes */
.ingredients {
  background: #FFFAF2;
  padding: 15px;
  border-radius: 10px;
  // margin-top: 10px;
  // border-radius: 10%;
  margin: 10px 2% 0 2%;
}

.ingredients-list {
  list-style-type: none;
  padding: 0;
  border: solid gray;
  border-radius: 10px;
  padding: 5%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.odd{
  text-align: right;
  font-weight: bold;
}


.task-list{
  border-bottom: solid gray;
  padding: 5px;
}

/* Modo de preparo */
.how-to {
  background: #FFFAF2;
  padding: 15px;
  border-radius: 10px;
  // margin-top: 10px;
  // border-radius: 10%;
  margin: 10px 2% 0 2%;
}

.steps-list {
  list-style-type: none;
  padding: 0;
  border: solid gray;
  border-radius: 10px;
  // padding-left: 5%;
  padding: 5%;
}

.step {
  // background: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Botão Completar */
.complete-btn {
  text-align: center;
  margin-top: 20px;
}

.button {
  display: inline-block;
  background: #f4b400;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background: #d89e00;
}

// /* Responsividade */
// @media (max-width: 600px) {
//   .container {
//       width: 95%;
//   }

//   .chef-image {
//       width: 60px;
//   }
// }

.svg-container{
  display: grid;
  grid-template-columns: 5fr 4fr;
}

.btn-space{
  padding: 5%;
}

.bold{
  font-weight: bold;
}
