<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%# <div class="container-fluid"> %>
    <div class="navbar-container">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
      <% end %>
      <h6 class="curent-user">Hello, <%   %></h6>
        <div class="icon-container">
          <p class="nmbr-stars">
            1 <i class="fa-solid fa-star star"></i>
          </p>
        </div>
    </div>
  <%# </div> %>
</div>
