.task-card {
  width: 384px;
  height: 75px;
  background-color: #FF9B05;
  border-radius: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  position: relative;
  margin-bottom: 50px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 75px;
}

.first-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #FFF;
}

.second-text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
}

.vertical-line {
  width: 2px;
  height: 75px;
  background-color: white;
  position: absolute;
  right: 78px;
}

.tomato-image {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 16px;
}
