.trail-card {
  position: relative;
  width: 414px;
  min-height: 148px;
  background-color: #FDEEDC;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
  overflow: visible; /* Permite a imagem "vazar" */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.card-image {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%); /* Move metade da altura da imagem para cima */
  pointer-events: none;
}


.stripe-top {
  position: absolute;
  bottom: 62px;
  left: 0;
  width: 414px;
  height: 12px;
  background-color: #FCDC94;
  z-index: 1;
}

.stripe-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 414px;
  height: 62px;
  background-color: #FF9B05;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

// comentei abaixo porque transformei a faixa em botão
// .stripe-bottom span {
//   color: white;
//   font-family: 'Montserrat', sans-serif;
//   font-weight: 600;
//   font-size: 24px;
// }

.stripe-button {
  background-color: #FF9B05;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  border: none;
}
