.world-card {
  width: 396px;
  height: 162px;
  background-color: #FDEEDC;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.element-2 {
  width: 300px;
  height: 162px;
  background-color: #FF9B05;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;

}

.element-2 span{
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-left: 40px;
}

.thin-band {
  width: 14px;
  height: 100%;
  background-color: #FCDC94;
  position: relative;
  right: 0;
  top: 0;
}

.world-image {
  width: 130px;
  height: 130px;
  position: absolute;
  top: 50%;
  left: 76%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.lock-small {
  position: absolute;
  top: 120px;
  left: 40px;
  z-index: 100;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 21px;
  background-color: #FFF;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  margin: 5px 0;
  margin-bottom: 20px;
}

.lock-small i {
  font-size: 12px;
  color: #FF9B05;
}
